/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
.idea/
/bower_components
/node_modules
public/Content/pictures/*
public/Content/articles/*
public/Content/author/*