/*
Dokoiko globals
*/
.page-container {
  padding-top: 13px;
  padding-bottom: 13px; }

.right {
  float: right; }

.left {
  float: left; }

html {
  -webkit-font-smoothing: antialiased; }

/*
Heading separator properties
*/
.separator:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  border-top: 1px solid #d2caca;
  z-index: 1; }

.separator {
  margin-top: 13px;
  margin-bottom: 13px;
  position: relative;
  text-align: center;
  line-height: 1.2; }

.separator-text {
  font-weight: 100;
  font-size: 58px;
  text-transform: uppercase;
  display: inline-block;
  border: 1px solid #d2caca;
  border-radius: 4px;
  position: relative;
  background-color: #fff !important;
  z-index: 2;
  padding: 3px 8px 2px 12px;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 0.6);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200; }
  @media screen and (max-width: 768px) {
    .separator-text {
      font-size: 30px; } }

/*
Dokobox properties
*/
.dokobox {
  margin-top: 13px;
  margin-bottom: 13px;
  background: #fff;
  position: relative;
  height: auto;
  width: 100%;
  display: block;
  border: 1px solid #d2caca;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  color: #333;
  padding: 26px 26px 26px 26px; }
  .dokobox .dokobox-title {
    margin-bottom: 20px;
    font-weight: 100;
    font-size: 35px;
    letter-spacing: 1.5px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200; }
    .dokobox .dokobox-title a {
      color: #333; }
  .dokobox .dokobox-intro {
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100; }
    @media screen and (max-width: 1200px) {
      .dokobox .dokobox-intro {
        margin-bottom: 26px; } }
  .dokobox .dokobox-date {
    font-family: 'Open Sans', sans-serif;
    display: block;
    font-size: 17px;
    font-weight: 300;
    color: #999;
    margin-bottom: 26px; }
  .dokobox .dokobox-img {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    height: auto;
    width: 50%; }
    @media screen and (max-width: 1200px) {
      .dokobox .dokobox-img {
        margin-bottom: 26px;
        width: 100%; } }

.pays {
  padding: 26px;
  width: 100%; }

@media screen and (min-width: 1200px) {
  .dokobox:nth-child(odd) {
    float: left; }
    .dokobox:nth-child(odd) .btn-article-reader {
      bottom: 26px;
      position: absolute;
      right: 26px; }
    .dokobox:nth-child(odd) .dokobox-img {
      float: left;
      margin-right: 26px;
      -webkit-filter: saturate(0%);
      -webkit-transition: -webkit-filter 0.5s linear; }
  .dokobox:nth-child(even) {
    float: right; }
    .dokobox:nth-child(even) .dokobox-img {
      float: right;
      margin-left: 26px;
      -webkit-filter: saturate(0%);
      transition: 0.5s linear; }
    .dokobox:nth-child(even) .btn-article-reader {
      bottom: 26px;
      position: absolute;
      left: 26px; }
  .dokobox .dokobox-img.hovered {
    -webkit-filter: saturate(100%);
    transition: 0.5s linear; }
  .dokobox .btn-article-reader.hovered {
    opacity: 1;
    transition: all 0.5s linear; }
  .dokobox .btn-article-reader {
    opacity: 0;
    transition: all 0.5s linear; } }

/*
Menu and logo dimensions and colors
*/
.logo-container {
  background-color: rgba(239, 57, 55, 0.95);
  height: 300px; }
  .logo-container .logo-position {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    .logo-container .logo-position .logo-size {
      max-height: 300px;
      max-width: 600px; }
  @media screen and (max-width: 768px) {
    .logo-container {
      display: none; } }

/*
Countries pictures postions and dimensions
*/
.leftcountry {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-height: 350px;
  margin-right: 26px;
  margin-bottom: 26px;
  float: left;
  max-width: 100%; }
  @media screen and (max-width: 1200px) {
    .leftcountry {
      width: 100% !important;
      max-height: none !important; } }

.rightcountry {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  float: right;
  margin-left: 26px;
  margin-bottom: 26px;
  max-width: 100%; }

/*
Contact stylesheet
*/
@media (min-width: 768px) {
  .contact {
    width: 700px; }
    .contact textarea {
      width: 100%;
      height: 300px;
      line-height: 150%;
      resize: vertical;
      max-height: 600px; } }

.feedback-input {
  margin-top: 13px;
  margin-bottom: 13px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  padding: 13px 13px 13px 54px;
  width: 100%;
  color: #3c3c3c;
  background-color: #ECECEC;
  border: 1px solid transparent; }

.feedback-input:focus {
  background: #fff;
  border: 1px solid #d2caca;
  color: #222;
  outline: none; }

.redborder {
  border: 2px solid rgba(239, 57, 55, 0.95); }

.redborder:focus {
  border: 2px solid rgba(239, 57, 55, 0.95); }

.mail-icon, .contact-name, .contact-name:focus, .contact-name:hover, .contact-email, .contact-email:focus, .contact-email:hover, .contact-message, .contact-message:focus, .contact-message:hover {
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat; }

.contact-name, .contact-name:focus, .contact-name:hover {
  background-image: url(../Content/name.svg); }

.contact-email, .contact-email:focus, .contact-email:hover {
  background-image: url(../Content/email.svg); }

.contact-message, .contact-message:focus, .contact-message:hover {
  background-image: url(../Content/comment.svg); }

/*
Buttons stylesheet
*/
.btn-large {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-weight: 100;
  font-size: 17px;
  margin-top: 13px;
  margin-bottom: 13px;
  transition: all 0.5s;
  letter-spacing: 2px;
  width: 100%;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(239, 57, 55, 0.95);
  border: 1px solid rgba(239, 57, 55, 0.95);
  color: #fff;
  text-align: center;
  display: block; }

.btn-articles {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-weight: 100;
  font-size: 16px;
  margin-top: 13px;
  margin-bottom: 13px;
  transition: all 0.5s;
  cursor: pointer;
  padding: 25px 80px;
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: none;
  position: relative;
  background-color: rgba(239, 57, 55, 0.95);
  border: 1px solid rgba(239, 57, 55, 0.95);
  color: #fff; }

.btn-article-reader {
  cursor: pointer;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 15px;
  outline: none;
  transition: all 0.5s;
  background-color: rgba(239, 57, 55, 0.95);
  border: 1px solid rgba(239, 57, 55, 0.95);
  color: #fff; }

.btn-square {
  display: table-cell;
  font-size: 30px;
  font-weight: normal;
  height: 60px;
  line-height: 1.42857;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  width: 60px;
  transition: all 0.5s;
  background-color: rgba(239, 57, 55, 0.95);
  border: 1px solid rgba(239, 57, 55, 0.95);
  color: #fff; }

.btn-large:hover, .btn-articles:hover, .btn-article-reader:hover, .btn-square:hover {
  color: rgba(239, 57, 55, 0.95);
  background-color: #fff;
  border-color: rgba(239, 57, 55, 0.95); }

/*
Footer stylesheet
*/
.footer {
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(239, 57, 55, 0.95);
  text-align: center;
  padding: 40px 0;
  position: absolute;
  width: 100%;
  overflow: hidden;
  color: #fff; }
  .footer .copyright {
    font-size: 15px;
    line-height: 1.5;
    font-weight: 100; }

.socials {
  text-align: center;
  clear: both; }
  .socials a {
    color: #fff;
    position: relative;
    background: transparent; }
  .socials a:not(:first-child) {
    margin-left: 3em; }
  .socials a:hover {
    color: black; }

.footer-hover {
  text-decoration: underline;
  color: #fff;
  transition: all 0.15s linear; }

.footer-hover:hover {
  transition: all 0.15s linear;
  color: #000; }

/*
Menu stylesheet
*/
.btn-toggle-menu {
  cursor: pointer;
  color: #fff; }

.btn-toggle-menu:hover {
  color: #4d4241; }

.toggle-bar {
  background-color: rgba(239, 57, 55, 0.95); }

.dokomenu {
  background-color: rgba(239, 57, 55, 0.95);
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  height: auto !important;
  overflow: visible !important;
  padding-bottom: 0;
  text-align: center;
  width: auto; }
  .dokomenu ul {
    display: inline-block;
    float: none;
    line-height: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    zoom: 1; }
    .dokomenu ul li {
      display: block;
      float: left;
      padding: 0; }
      .dokomenu ul li a {
        transition: color 0.25s;
        color: #fff;
        display: block;
        font-size: 17px;
        font-weight: 400;
        padding: 15px 25px;
        position: relative;
        text-decoration: none;
        text-transform: uppercase; }
      .dokomenu ul li a:hover {
        color: #4d4241; }
      .dokomenu ul li a:hover:before {
        width: 100%; }
      .dokomenu ul li a:after {
        content: '';
        display: block;
        position: absolute;
        right: -3px;
        top: 19px;
        height: 6px;
        width: 6px;
        opacity: .5;
        background-color: #000000; }
      .dokomenu ul li a:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 0;
        background: #fff;
        transition: width .25s; }
  .dokomenu ul:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden; }

.dokomenu ul li.last > a:after, .dokomenu ul li:last-child > a:after {
  display: none; }

#showmenu {
  cursor: pointer; }

#showmenu:hover {
  color: #4d4241; }

@media screen and (max-width: 768px) {
  .dokomenu ul li {
    float: none; }
    .dokomenu ul li a {
      width: 100%;
      box-sizing: border-box; }
    .dokomenu ul li a:after {
      display: none; }
    .dokomenu ul li a:before {
      height: 1px;
      background: #ffffff;
      width: 100%;
      opacity: .2; }
  .dokomenu ul li.last > a:before, .dokomenu ul li:last-child > a:before {
    display: none; } }

.menu-fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100; }

/*
Pictures stylesheet
*/
.pictures {
  margin-top: 13px;
  margin-bottom: 13px; }

.picture-navigation-btn {
  display: inline-block;
  vertical-align: middle; }
  @media screen and (max-width: 1200px) {
    .picture-navigation-btn {
      display: none; } }

.main-picture {
  max-height: 800px;
  max-width: 1000px;
  border-radius: 4px;
  padding: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); }
  @media screen and (max-width: 1200px) {
    .main-picture {
      max-width: 90%; } }

.picture-title {
  font-weight: 100;
  font-size: 45px;
  line-height: 1.5;
  letter-spacing: 1.5px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200; }

.picture-content {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 100;
  line-height: 1.5; }

.disqus {
  margin-top: 26px;
  margin-bottom: 26px;
  max-width: 1000px; }

.grid-picture {
  cursor: pointer;
  display: block;
  width: 25%;
  height: auto;
  background: #fff;
  float: left;
  border: 10px solid #fff;
  text-align: center;
  z-index: 1; }
  .grid-picture img {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: opacity 0.2s linear; }
  .grid-picture .grid-picture-title {
    margin-top: 13px;
    font-size: 24px;
    font-weight: 100;
    color: #333;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200; }
  .grid-picture .imagehovered {
    transition: opacity 0.2s linear;
    opacity: 0.3; }
  @media screen and (max-width: 768px) {
    .grid-picture {
      width: 100%; } }

/*
Videos stylesheet
*/
.videos .video-container {
  border: 13px solid #fff;
  width: 50%; }
.videos .video-box {
  background: #fff;
  border: 1px solid #d2caca;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  max-width: 100%;
  padding: 26px; }
  .videos .video-box .title {
    letter-spacing: 1.5px;
    font-weight: 100;
    font-size: 35px;
    color: #333;
    padding-bottom: 26px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200; }

@media screen and (min-width: 1200px) {
  .video {
    width: 100% !important;
    max-height: 270px;
    max-width: 100%; } }

@media screen and (max-width: 1199px) {
  .video-container {
    width: 100% !important; }
  .video {
    width: 100% !important; } }

/*
Login page stylesheet
*/
.login-background {
  background: #646464; }

.error-login {
  padding: 15px;
  margin-bottom: 13px;
  background-color: #f2dede;
  color: #a94442; }

.login {
  width: 400px;
  margin: 0 auto;
  margin-top: 10%;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
  max-width: 100%; }
  .login .login-text {
    background-color: rgba(239, 57, 55, 0.95);
    margin-top: 0px;
    margin-bottom: 13px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    letter-spacing: 1.5px;
    font-weight: 100;
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    padding: 13px; }
  .login .triangle-down {
    width: 0;
    border: 12px solid transparent;
    border-bottom-color: rgba(239, 57, 55, 0.95);
    margin: 0 auto; }
  .login form {
    background: #f0f0f0;
    padding: 6% 4%; }
    .login form input[type="text"], .login form input[type="password"] {
      width: 100%;
      background: #fff;
      margin-bottom: 4%;
      border: 1px solid #ccc;
      padding: 4%;
      font-family: 'Open Sans', sans-serif;
      font-size: 95%;
      color: #555; }
    .login form input[type="submit"] {
      width: 100%;
      padding: 4%;
      cursor: pointer; }
    .login form a:hover {
      text-decoration: none; }
