.right {
	float: right;
}
.left {
	float: left;
}
.f-nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}

.weblogo {
    text-align: center;
}
@media (max-width: 768px) {
    .weblogo {
        display: none;
    }
}
.content-author {
	margin-bottom: 50px;
	margin-top: 30px;
	display: none;
    border: 1px solid #d2caca;
	width: 70%;
	float: right;
	background-color: #fcfcfc;
    border-radius: 4px;
}
@media(max-width: 768px) {
	.content-author {
		display: none;
		width: 100%;
		float: right;
		background-color: #eee;
	}
}
.image-author {
    float: left;
    width: 130px;
    height: auto;
    border-radius: 500px;
    margin-right: 10px;
    border: 3px solid #d2caca;
}

.btn-more {
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
	padding: 25px 80px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 400;
	outline: none;
	position: relative;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.btn-mail {
    letter-spacing: 2px;
    font-weight: 400;
    width: 100%;
    cursor:pointer;
    color:white;
    font-size:13px;
    padding-top:15px;
    padding-bottom:15px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.btn-author {
	font-size: inherit;
	cursor: pointer;
	padding: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	outline: none;
	position: relative;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
@media(max-width: 768px) {
	.btn-more {
		font-size: 15px;
		font-weight: 100;
		padding: 25px;
	}

}
.newsbox {
	background: #fff;
	height: auto;
	width: 70%;
	display: block;
    margin-top: 13px;
	margin-bottom: 13px;
	border: 1px solid #d2caca;
    border-radius: 4px;
    -o-user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}
.newsbox .boximg {
    display: inline;
}
.newsbox .boximg img {
	float: left;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    height: 265px;
	width: 350px;
}
.newsbox .boxtitle {
	display: block;
	margin-bottom: 20px;
}
.newsbox .boxtitle boxtitle {
	font-weight: 100;
	font-size: 30px;
	color: #222;
}
.newsbox .boxdate {
	display: block;
	font-style: italic;
	font-size: 17px;
	color: #999;
    margin-bottom: 26px;
}
.newsbox .boxintro {
	display: block;
	text-align: justify;
	font-size: 17px;
	color: #222;
	line-height: 1.5;
    margin-bottom: 26px;
}
.newbox .boxreader {
	text-align: center;
	position: relative;
}
@media(max-width: 1399px) {
	.newsbox {
		height: auto;
		width: 100%;
	}
	.newsbox.right .boximg a img {
		float: left;
		height: auto;
		width: 100%;
		margin-bottom: 10px;
	}
	.newsbox.left .boximg a img {
		float: left;
		height: auto;
		width: 100%;
		margin-bottom: 10px;
	}

}
@media(min-width: 1400px) {
    .newsbox.left {
        padding: 26px 26px 28px 31px;
    }
    .newsbox.right {
        padding: 26px 31px 28px 26px;
    }
	.newsbox.right .boximg a img {
		float: right;
		margin-left: 26px;
        -webkit-filter: saturate(0%);
		-webkit-transition : -webkit-filter 0.5s linear;
    }
	.newsbox.left .boximg a img {
		float: left;
		margin-right: 26px;
        -webkit-filter: saturate(0%);
		-webkit-transition : -webkit-filter 0.5s linear;
    }
	.newsbox .boximg.zoomed a img {
		-webkit-filter: saturate(100%);
		-webkit-transition : -webkit-filter 0.5s linear;
    }
	.newsbox .boxreader.hovered {
		opacity: 1;
		-webkit-transition: all 0.5s linear;
		-o-transition: all 0.5s linear;
		transition: all 0.5s linear;
		-moz-transition: all 0.5s linear;
	}
	.newsbox .boxreader {
		opacity: 0;
		-webkit-transition: all 0.5s linear;
		-moz-transition: all 0.5s linear;
		-o-transition: all 0.5s linear;
		transition: all 0.5s linear;
	}
	.newsbox.left .boxreader {
		float: right;
	}
}
.fullsize {
	width: 100%;
	height: auto;
    padding: 26px;
	vertical-align: middle;
	display: inline-block;
}
.japan {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	max-height: 300px;
}
@media(max-width: 500px) {
	.japan {
		height: auto;
		width: 100%;
		margin-left: 0;
		max-height: none;
	}

}
.rightpays {
	float: right;
}
@media screen and (max-width: 768px) {
	.rightpays {
		float: none;
	}
}
#cssmenu {
	font-weight: bold;
	height: auto !important;
	overflow: visible !important;
	padding-bottom: 0;
	text-align: center;
	width: auto;
}
#cssmenu ul {
	display: inline-block;
	float: none;
	line-height: 1;
	list-style: none;
	margin: 0;
	padding: 0;
	zoom: 1;
}
#cssmenu ul:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}
#cssmenu ul li {
	display: block;
	float: left;
	padding: 0;
}
#cssmenu ul li a {
	-moz-transition: color .25s;
	-ms-transition: color .25s;
	-o-transition: color .25s;
	-webkit-transition: color .25s;
	color: #ffffff;
	display: block;
	font-size: 14px;
	font-weight: 700;
	padding: 15px 25px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	transition: color .25s;
}
#cssmenu ul li a:hover {
	color: #4d4241;
}
#cssmenu ul li a:hover:before {
	width: 100%;
}
#cssmenu ul li a:after {
	content: '';
	display: block;
	position: absolute;
	right: -3px;
	top: 19px;
	height: 6px;
	width: 6px;
	background: #ffffff;
	opacity: .5;
}
#cssmenu ul li a:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 0;
	background: #4d4241;
	-webkit-transition: width .25s;
	-moz-transition: width .25s;
	-ms-transition: width .25s;
	-o-transition: width .25s;
	transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
	display: none;
}
#cssmenu ul li.active a {
	color: #3C626C;
}
#cssmenu ul li.active a:before {
	width: 100%;
}
@media screen and (max-width: 768px) {
	#cssmenu ul li {
		float: none;
	}
	#cssmenu ul li a {
		width: 100%;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	#cssmenu ul li a:after {
		display: none;
	}
	#cssmenu ul li a:before {
		height: 1px;
		background: #ffffff;
		width: 100%;
		opacity: .2;
	}
	#cssmenu ul li.last > a:before,
	#cssmenu ul li:last-child > a:before {
		display: none;
	}
}

