@media (min-width: 768px) {
.contact {
	width: 700px;
	}
}

.feedback-input {
	font-family: 'Open Sans', sans-serif;
	font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.feedback-input:focus{
	box-shadow: 0;
	outline: none;
  	padding: 13px 13px 13px 54px;
}
.redborder
{
	border: 2px solid #CC0000;
}
.redborder:focus
{
	border: 2px solid #CC0000;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(../ressources/assets/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}
#email{
	background-image: url(../ressources/assets/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#message{
	background-image: url(../ressources/assets/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
	width: 100%;
	height: 300px;
	line-height: 150%;
	resize: vertical;
	max-height: 600px;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:#eee;
}

.submit:hover {
	color: #3498db;
}

.sending{
	font-family: 'Open Sans', sans-serif;
	width: 300px;
	color:white;
	font-size:18px;
	padding-top:10px;
	padding-bottom:10px;
	text-align: center;
	margin-left: auto;
   margin-right: auto;
    margin-bottom: 50px;
}