/*!
 * froala_editor v1.2.4 (http://editor.froala.com)
 * Copyright 2014-2014 Froala
 */
.froala-element {
  line-height: 140%;
}
.froala-element ul,
.froala-element ol,
ul.fr-tag,
ol.fr-tag {
  padding-left: 25px;
}
.froala-element p,
p.fr-tag {
  margin: 0 0 10px;
}
.froala-element h1,
h1[class="fr-tag"] {
  font-size: 36px;
  line-height: 1.1;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
}
.froala-element h2,
h2[class="fr-tag"] {
  font-size: 30px;
  line-height: 1.1;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
}
.froala-element h3,
h3[class="fr-tag"] {
  font-size: 24px;
  line-height: 1.1;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
}
.froala-element h4,
h4[class="fr-tag"] {
  font-size: 18px;
  line-height: 1.1;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}
.froala-element h5,
h5[class="fr-tag"] {
  font-size: 14px;
  line-height: 1.1;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}
.froala-element h6,
h6[class="fr-tag"] {
  font-size: 12px;
  line-height: 1.1;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*!
 * froala_editor v1.2.4 (http://editor.froala.com)
 * Copyright 2014-2014 Froala
 */
.froala-element img.fr-fil,
img.fr-tag.fr-fil {
  z-index: 1;
  position: relative;
  vertical-align: top;
  display: block;
  margin: auto;
  overflow: auto;
  padding: 10px 10px 10px 3px;
  float: left !important;
}
.froala-element img.fr-fil.fr-tni,
img.fr-tag.fr-fil.fr-tni {
  float: none !important;
  margin-left: 0 !important;
}
.froala-element img.fr-fir,
img.fr-tag.fr-fir {
  z-index: 1;
  position: relative;
  vertical-align: top;
  display: block;
  margin: auto;
  overflow: auto;
  padding: 10px 3px 10px 10px;
  float: right !important;
}
.froala-element img.fr-fir.fr-tni,
img.fr-tag.fr-fir.fr-tni {
  float: none !important;
  margin-right: 0 !important;
}
.froala-element img.fr-fin,
img.fr-tag.fr-fin {
  z-index: 1;
  position: relative;
  vertical-align: top;
  display: block;
  margin: auto;
  overflow: auto;
  padding: 10px 0;
  float: none;
}
.froala-element a.fr-file,
a.fr-file {
  position: relative;
}
.froala-element a.fr-file:before,
a.fr-file:before {
  position: relative;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f0c6";
  top: 0;
  padding-right: 3px;
}
.froala-element table,
table.fr-tag {
  border-collapse: collapse;
  empty-cells: show;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.froala-element table td,
table.fr-tag td {
  border: solid 1px #cccccc;
  padding: 5px;
}
.froala-element table th,
table.fr-tag th {
  background: #e6e6e6;
  border: solid 1px #cccccc;
  padding: 5px;
}
.froala-element pre,
pre.fr-tag {
  white-space: pre-wrap;
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, post millennium */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
  border: solid 1px #cccccc;
  background: #fcfcfc;
  padding: 10px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.froala-element blockquote,
blockquote.fr-tag {
  margin-left: 20px;
  margin-right: 0;
  margin-top: 0;
  padding-left: 20px;
  position: relative;
  font-style: italic;
  border-left: solid 5px #cccccc;
}
.froala-element hr,
hr.fr-tag {
  height: 0px;
  border: 0;
  border-top: solid 1px #cccccc;
  clear: both;
}
.fr-fvn {
  float: none;
  display: block !important;
  text-align: center !important;
}
.fr-fvl {
  float: left;
  margin: 10px 10px 10px 1px;
}
.fr-fvr {
  float: right;
  margin: 10px 1px 10px 10px;
}

/*
Dokoiko globals
*/
.page-container {
  padding-top: 13px;
  padding-bottom: 13px; }

.right {
  float: right; }

.left {
  float: left; }

html {
  -webkit-font-smoothing: antialiased; }

/*
Heading separator properties
*/
.separator:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  border-top: 1px solid #d2caca;
  z-index: 1; }

.separator {
  margin-top: 13px;
  margin-bottom: 13px;
  position: relative;
  text-align: center;
  line-height: 1.2; }

.separator-text {
  font-weight: 100;
  font-size: 58px;
  text-transform: uppercase;
  display: inline-block;
  border: 1px solid #d2caca;
  border-radius: 4px;
  position: relative;
  background-color: #fff !important;
  z-index: 2;
  padding: 3px 8px 2px 12px;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 0.6);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200; }
  @media screen and (max-width: 768px) {
    .separator-text {
      font-size: 30px; } }

/*
Dokobox properties
*/
.dokobox {
  margin-top: 13px;
  margin-bottom: 13px;
  background: #fff;
  position: relative;
  height: auto;
  width: 100%;
  display: block;
  border: 1px solid #d2caca;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  color: #333;
  padding: 26px 26px 26px 26px; }
  .dokobox .dokobox-title {
    margin-bottom: 20px;
    font-weight: 100;
    font-size: 35px;
    letter-spacing: 1.5px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200; }
    .dokobox .dokobox-title a {
      color: #333; }
  .dokobox .dokobox-intro {
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100; }
    @media screen and (max-width: 1200px) {
      .dokobox .dokobox-intro {
        margin-bottom: 26px; } }
  .dokobox .dokobox-date {
    font-family: 'Open Sans', sans-serif;
    display: block;
    font-size: 17px;
    font-weight: 300;
    color: #999;
    margin-bottom: 26px; }
  .dokobox .dokobox-img {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    height: auto;
    width: 50%; }
    @media screen and (max-width: 1200px) {
      .dokobox .dokobox-img {
        margin-bottom: 26px;
        width: 100%; } }

.pays {
  padding: 26px;
  width: 100%; }

@media screen and (min-width: 1200px) {
  .dokobox:nth-child(odd) {
    float: left; }
    .dokobox:nth-child(odd) .btn-article-reader {
      bottom: 26px;
      position: absolute;
      right: 26px; }
    .dokobox:nth-child(odd) .dokobox-img {
      float: left;
      margin-right: 26px;
      -webkit-filter: saturate(0%);
      -webkit-transition: -webkit-filter 0.5s linear; }
  .dokobox:nth-child(even) {
    float: right; }
    .dokobox:nth-child(even) .dokobox-img {
      float: right;
      margin-left: 26px;
      -webkit-filter: saturate(0%);
      transition: 0.5s linear; }
    .dokobox:nth-child(even) .btn-article-reader {
      bottom: 26px;
      position: absolute;
      left: 26px; }
  .dokobox .dokobox-img.hovered {
    -webkit-filter: saturate(100%);
    transition: 0.5s linear; }
  .dokobox .btn-article-reader.hovered {
    opacity: 1;
    transition: all 0.5s linear; }
  .dokobox .btn-article-reader {
    opacity: 0;
    transition: all 0.5s linear; } }

/*
Menu and logo dimensions and colors
*/
.logo-container {
  background-color: rgba(239, 57, 55, 0.95);
  height: 300px; }
  .logo-container .logo-position {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    .logo-container .logo-position .logo-size {
      max-height: 300px;
      max-width: 600px; }
  @media screen and (max-width: 768px) {
    .logo-container {
      display: none; } }

/*
Countries pictures postions and dimensions
*/
.leftcountry {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-height: 350px;
  margin-right: 26px;
  margin-bottom: 26px;
  float: left;
  max-width: 100%; }
  @media screen and (max-width: 1200px) {
    .leftcountry {
      width: 100% !important;
      max-height: none !important; } }

.rightcountry {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  float: right;
  margin-left: 26px;
  margin-bottom: 26px;
  max-width: 100%; }

/*
Contact stylesheet
*/
@media (min-width: 768px) {
  .contact {
    width: 700px; }
    .contact textarea {
      width: 100%;
      height: 300px;
      line-height: 150%;
      resize: vertical;
      max-height: 600px; } }

.feedback-input {
  margin-top: 13px;
  margin-bottom: 13px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  padding: 13px 13px 13px 54px;
  width: 100%;
  color: #3c3c3c;
  background-color: #ECECEC;
  border: 1px solid transparent; }

.feedback-input:focus {
  background: #fff;
  border: 1px solid #d2caca;
  color: #222;
  outline: none; }

.redborder {
  border: 2px solid rgba(239, 57, 55, 0.95); }

.redborder:focus {
  border: 2px solid rgba(239, 57, 55, 0.95); }

.mail-icon, .contact-name, .contact-name:focus, .contact-name:hover, .contact-email, .contact-email:focus, .contact-email:hover, .contact-message, .contact-message:focus, .contact-message:hover {
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat; }

.contact-name, .contact-name:focus, .contact-name:hover {
  background-image: url(../Content/name.svg); }

.contact-email, .contact-email:focus, .contact-email:hover {
  background-image: url(../Content/email.svg); }

.contact-message, .contact-message:focus, .contact-message:hover {
  background-image: url(../Content/comment.svg); }

/*
Buttons stylesheet
*/
.btn-large {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-weight: 100;
  font-size: 17px;
  margin-top: 13px;
  margin-bottom: 13px;
  transition: all 0.5s;
  letter-spacing: 2px;
  width: 100%;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(239, 57, 55, 0.95);
  border: 1px solid rgba(239, 57, 55, 0.95);
  color: #fff;
  text-align: center;
  display: block; }

.btn-articles {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-weight: 100;
  font-size: 16px;
  margin-top: 13px;
  margin-bottom: 13px;
  transition: all 0.5s;
  cursor: pointer;
  padding: 25px 80px;
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: none;
  position: relative;
  background-color: rgba(239, 57, 55, 0.95);
  border: 1px solid rgba(239, 57, 55, 0.95);
  color: #fff; }

.btn-article-reader {
  cursor: pointer;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 15px;
  outline: none;
  transition: all 0.5s;
  background-color: rgba(239, 57, 55, 0.95);
  border: 1px solid rgba(239, 57, 55, 0.95);
  color: #fff; }

.btn-square {
  display: table-cell;
  font-size: 30px;
  font-weight: normal;
  height: 60px;
  line-height: 1.42857;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  width: 60px;
  transition: all 0.5s;
  background-color: rgba(239, 57, 55, 0.95);
  border: 1px solid rgba(239, 57, 55, 0.95);
  color: #fff; }

.btn-large:hover, .btn-articles:hover, .btn-article-reader:hover, .btn-square:hover {
  color: rgba(239, 57, 55, 0.95);
  background-color: #fff;
  border-color: rgba(239, 57, 55, 0.95); }

/*
Footer stylesheet
*/
.footer {
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(239, 57, 55, 0.95);
  text-align: center;
  padding: 40px 0;
  position: absolute;
  width: 100%;
  overflow: hidden;
  color: #fff; }
  .footer .copyright {
    font-size: 15px;
    line-height: 1.5;
    font-weight: 100; }

.socials {
  text-align: center;
  clear: both; }
  .socials a {
    color: #fff;
    position: relative;
    background: transparent; }
  .socials a:not(:first-child) {
    margin-left: 3em; }
  .socials a:hover {
    color: black; }

.footer-hover {
  text-decoration: underline;
  color: #fff;
  transition: all 0.15s linear; }

.footer-hover:hover {
  transition: all 0.15s linear;
  color: #000; }

/*
Menu stylesheet
*/
.btn-toggle-menu {
  cursor: pointer;
  color: #fff; }

.btn-toggle-menu:hover {
  color: #4d4241; }

.toggle-bar {
  background-color: rgba(239, 57, 55, 0.95); }

.dokomenu {
  background-color: rgba(239, 57, 55, 0.95);
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  height: auto !important;
  overflow: visible !important;
  padding-bottom: 0;
  text-align: center;
  width: auto; }
  .dokomenu ul {
    display: inline-block;
    float: none;
    line-height: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    zoom: 1; }
    .dokomenu ul li {
      display: block;
      float: left;
      padding: 0; }
      .dokomenu ul li a {
        transition: color 0.25s;
        color: #fff;
        display: block;
        font-size: 17px;
        font-weight: 400;
        padding: 15px 25px;
        position: relative;
        text-decoration: none;
        text-transform: uppercase; }
      .dokomenu ul li a:hover {
        color: #4d4241; }
      .dokomenu ul li a:hover:before {
        width: 100%; }
      .dokomenu ul li a:after {
        content: '';
        display: block;
        position: absolute;
        right: -3px;
        top: 19px;
        height: 6px;
        width: 6px;
        opacity: .5;
        background-color: #000000; }
      .dokomenu ul li a:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 0;
        background: #fff;
        transition: width .25s; }
  .dokomenu ul:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden; }

.dokomenu ul li.last > a:after, .dokomenu ul li:last-child > a:after {
  display: none; }

#showmenu {
  cursor: pointer; }

#showmenu:hover {
  color: #4d4241; }

@media screen and (max-width: 768px) {
  .dokomenu ul li {
    float: none; }
    .dokomenu ul li a {
      width: 100%;
      box-sizing: border-box; }
    .dokomenu ul li a:after {
      display: none; }
    .dokomenu ul li a:before {
      height: 1px;
      background: #ffffff;
      width: 100%;
      opacity: .2; }
  .dokomenu ul li.last > a:before, .dokomenu ul li:last-child > a:before {
    display: none; } }

.menu-fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100; }

/*
Pictures stylesheet
*/
.pictures {
  margin-top: 13px;
  margin-bottom: 13px; }

.picture-navigation-btn {
  display: inline-block;
  vertical-align: middle; }
  @media screen and (max-width: 1200px) {
    .picture-navigation-btn {
      display: none; } }

.main-picture {
  max-height: 800px;
  max-width: 1000px;
  border-radius: 4px;
  padding: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); }
  @media screen and (max-width: 1200px) {
    .main-picture {
      max-width: 90%; } }

.picture-title {
  font-weight: 100;
  font-size: 45px;
  line-height: 1.5;
  letter-spacing: 1.5px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200; }

.picture-content {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 100;
  line-height: 1.5; }

.disqus {
  margin-top: 26px;
  margin-bottom: 26px;
  max-width: 1000px; }

.grid-picture {
  cursor: pointer;
  display: block;
  width: 25%;
  height: auto;
  background: #fff;
  float: left;
  border: 10px solid #fff;
  text-align: center;
  z-index: 1; }
  .grid-picture img {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: opacity 0.2s linear; }
  .grid-picture .grid-picture-title {
    margin-top: 13px;
    font-size: 24px;
    font-weight: 100;
    color: #333;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200; }
  .grid-picture .imagehovered {
    transition: opacity 0.2s linear;
    opacity: 0.3; }
  @media screen and (max-width: 768px) {
    .grid-picture {
      width: 100%; } }

/*
Videos stylesheet
*/
.videos .video-container {
  border: 13px solid #fff;
  width: 50%; }
.videos .video-box {
  background: #fff;
  border: 1px solid #d2caca;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  max-width: 100%;
  padding: 26px; }
  .videos .video-box .title {
    letter-spacing: 1.5px;
    font-weight: 100;
    font-size: 35px;
    color: #333;
    padding-bottom: 26px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200; }

@media screen and (min-width: 1200px) {
  .video {
    width: 100% !important;
    max-height: 270px;
    max-width: 100%; } }

@media screen and (max-width: 1199px) {
  .video-container {
    width: 100% !important; }
  .video {
    width: 100% !important; } }

/*
Login page stylesheet
*/
.login-background {
  background: #646464; }

.error-login {
  padding: 15px;
  margin-bottom: 13px;
  background-color: #f2dede;
  color: #a94442; }

.login {
  width: 400px;
  margin: 0 auto;
  margin-top: 10%;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
  max-width: 100%; }
  .login .login-text {
    background-color: rgba(239, 57, 55, 0.95);
    margin-top: 0px;
    margin-bottom: 13px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    letter-spacing: 1.5px;
    font-weight: 100;
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    padding: 13px; }
  .login .triangle-down {
    width: 0;
    border: 12px solid transparent;
    border-bottom-color: rgba(239, 57, 55, 0.95);
    margin: 0 auto; }
  .login form {
    background: #f0f0f0;
    padding: 6% 4%; }
    .login form input[type="text"], .login form input[type="password"] {
      width: 100%;
      background: #fff;
      margin-bottom: 4%;
      border: 1px solid #ccc;
      padding: 4%;
      font-family: 'Open Sans', sans-serif;
      font-size: 95%;
      color: #555; }
    .login form input[type="submit"] {
      width: 100%;
      padding: 4%;
      cursor: pointer; }
    .login form a:hover {
      text-decoration: none; }

/*
Froala reader stylesheet
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative; }

html, body {
  height: 100%; }

.article-container {
  width: 800px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%; }

.title {
  text-transform: uppercase;
  line-height: 80px;
  max-width: 100%; }

img {
  max-width: 100%;
  height: auto; }

@media (max-width: 700px) {
  img {
    width: 100%;
    padding: none !important; } }

p:nth-child(2) img {
  width: 100%; }

p:not(:nth-child(1)):not(:nth-child(2)) {
  max-width: 100% !important;
  width: 800px !important;
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-right: auto !important;
  margin-left: auto !important; }
  p:not(:nth-child(1)):not(:nth-child(2)) span {
    letter-spacing: 0.01rem !important;
    font-style: normal !important;
    line-height: 27px !important;
    font-family: 'Open Sans', sans-serif !important;
    color: #333; }

p:nth-child(1) {
  width: 80% !important;
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-right: auto !important;
  margin-left: auto !important;
  margin-top: 70px !important; }
  p:nth-child(1) span {
    font-family: 'Josefin Sans', sans-serif !important;
    font-weight: 100 !important;
    font-size: 70px !important;
    text-shadow: none !important;
    font-style: normal !important; }

.froala-element pre, .froala-element blockquote, .froala-element table, .froala-element hr, .froala-element ul, .froala-element ol {
  max-width: 100%;
  width: 700px;
  margin-right: auto;
  margin-left: auto; }

.froala-element blockquote {
  letter-spacing: 0.01rem;
  line-height: 27px; }

.froala-element ul li {
  list-style: disc; }

.froala-element ol li {
  list-style-type: decimal; }

.froala-element ul li p, .froala-element ol li p {
  margin-top: 0 !important;
  letter-spacing: 0.01rem !important;
  font-style: normal !important;
  line-height: 27px !important; }

/*
Author reader stylesheet
*/
.author-signature {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 13px;
  font-size: 18px; }

.author-about {
  padding: 26px;
  display: table;
  margin-bottom: 26px;
  display: none;
  border: 1px solid #d2caca;
  width: 100%;
  float: right;
  background-color: #fcfcfc;
  border-radius: 4px;
  z-index: 2; }
  .author-about .text-author {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    text-align: justify; }
  .author-about .image-author {
    width: 130px;
    height: auto;
    border-radius: 50%;
    border: 3px solid #d2caca;
    float: left;
    margin-right: 26px; }

@media (max-width: 768px) {
  .about-author {
    display: none;
    width: 100%;
    float: right; } }

/*
Social share buttons stylesheet
*/
.twitter-color {
  background-color: #4099FF;
  border: 1px solid #4099FF;
  color: #ffffff; }

.twitter-color:hover {
  background-color: #fff;
  border: 1px solid #4099FF;
  color: #4099FF; }

.facebook-color {
  background-color: #3b5998;
  border: 1px solid #3b5998;
  color: #ffffff; }

.facebook-color:hover {
  background-color: #fff;
  border: 1px solid #3b5998;
  color: #3b5998; }

.google-plus-color {
  background-color: #d34836;
  border: 1px solid #d34836;
  color: #ffffff; }

.google-plus-color:hover {
  background-color: #fff;
  border: 1px solid #d34836;
  color: #d34836; }

/*
Circle menu stylesheet
*/
.csstransforms .cn-wrapper {
  font-size: 1em;
  width: 26em;
  height: 26em;
  overflow: hidden;
  position: fixed;
  z-index: 10;
  bottom: -13em;
  left: 50%;
  border-radius: 50%;
  margin-left: -13em;
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
  pointer-events: none;
  transition: all .3s ease; }

.csstransforms .opened-nav {
  border-radius: 50%;
  pointer-events: auto;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.cn-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease;
  z-index: 2; }

.cn-overlay.on-overlay {
  visibility: visible;
  opacity: 1; }

.cn-button {
  border: none;
  color: white;
  text-align: center;
  font-size: 1.9em;
  padding-bottom: 1.5em;
  height: 3.5em;
  width: 3.5em;
  background-color: #e63937;
  position: fixed;
  left: 50%;
  margin-left: -1.75em;
  bottom: -1.75em;
  border-radius: 50%;
  cursor: pointer;
  z-index: 11; }

.cn-button:hover, .cn-button:active, .cn-button:focus {
  color: #4d4241; }

.csstransforms .cn-wrapper li {
  position: absolute;
  font-size: 1.5em;
  width: 10em;
  height: 10em;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  overflow: hidden;
  left: 50%;
  top: 50%;
  margin-top: -1.3em;
  margin-left: -10em;
  transition: border .3s ease; }

.csstransforms .cn-wrapper li a {
  display: block;
  font-size: 1.18em;
  height: 14.5em;
  width: 14.5em;
  position: absolute;
  bottom: -7.25em;
  right: -7.25em;
  border-radius: 50%;
  text-decoration: none;
  color: #fff;
  padding-top: 1.8em;
  text-align: center;
  -webkit-transform: skew(-30deg) rotate(-60deg) scale(1);
  -ms-transform: skew(-30deg) rotate(-60deg) scale(1);
  transform: skew(-30deg) rotate(-60deg) scale(1);
  -webkit-backface-visibility: hidden;
  transition: opacity 0.3s, color 0.3s; }

/* for a central angle x, the list items must be skewed by 90-x degrees
in our case x=40deg so skew angle is 50deg
items should be rotated by x, minus (sum of angles - 180)2s (for this demo) */
.csstransforms .cn-wrapper li:first-child {
  -webkit-transform: rotate(0deg) skew(30deg);
  -ms-transform: rotate(0deg) skew(30deg);
  transform: rotate(0deg) skew(30deg); }

.csstransforms .cn-wrapper li:nth-child(2) {
  -webkit-transform: rotate(60deg) skew(30deg);
  -ms-transform: rotate(60deg) skew(30deg);
  transform: rotate(60deg) skew(30deg); }

.csstransforms .cn-wrapper li:nth-child(3) {
  -webkit-transform: rotate(120deg) skew(30deg);
  -ms-transform: rotate(120deg) skew(30deg);
  transform: rotate(120deg) skew(30deg); }

.csstransforms .cn-wrapper li:nth-child(odd) a {
  background-color: rgba(223, 38, 38, 0.95);
  background-color: #f44e4e; }

.csstransforms .cn-wrapper li:nth-child(even) a {
  background-color: rgba(255, 43, 43, 0.95);
  background-color: #f45757; }

/* active style */
.csstransforms .cn-wrapper li.active a {
  background-color: #b31515;
  background-color: #f66f6f; }

/* hover style */
.csstransforms .cn-wrapper li:not(.active) a:hover, .csstransforms .cn-wrapper li:not(.active) a:active, .csstransforms .cn-wrapper li:not(.active) a:focus {
  background-color: #f66f6f; }

/* fallback */
.no-csstransforms .cn-button {
  display: none; }

.no-csstransforms .cn-wrapper li {
  position: static;
  float: left;
  font-size: 1em;
  height: 5em;
  width: 5em;
  background-color: #eee;
  text-align: center;
  line-height: 5em; }

.no-csstransforms .cn-wrapper li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  font-size: 1.3em;
  border-right: 1px solid #ddd; }

.no-csstransforms .cn-wrapper li a:last-child {
  border: none; }

.no-csstransforms .cn-wrapper li a:hover, .no-csstransforms .cn-wrapper li a:active, .no-csstransforms .cn-wrapper li a:focus {
  background-color: white; }

.no-csstransforms .cn-wrapper li.active a {
  background-color: #fff6ff;
  color: #fff; }

.no-csstransforms .cn-wrapper {
  font-size: 1em;
  height: 5em;
  width: 25.15em;
  bottom: 0;
  margin-left: -12.5em;
  overflow: hidden;
  position: fixed;
  z-index: 10;
  left: 50%;
  border: 1px solid #ddd; }
