.color1 {
    color: #ff4a4c;
}
.backgroundcolor1 {
    background-color: #ff4a4c;
}
.color2 {
    color: rgba(223, 38, 38, 0.84);
}
.transparentcolor {
    background-color: rgba(223, 38, 38, 0.84);
}
.buttoncolor {
    background-color: rgba(223, 38, 38, 0.84);
    border: 1px solid rgba(223, 38, 38, 0.84);
    color: #ffffff;
}
.buttoncolor:hover {
    color: rgba(223, 38, 38, 0.84);
    background-color: #fff;
    border-color: rgba(223, 38, 38, 0.84);
}
.textcolor {
    color: #2f2f2f;
}
.mailcolor {
    color:#3c3c3c;
    background-color: #ECECEC;
    border: 1px solid rgba(0,0,0,0);
}
.mailcolor:focus {
    background: #fff;
    border: 1px solid #d2caca;
    color: #222;
}

.page-container {
    padding-top: 13px;
    padding-bottom: 13px;
}

.socials {
    text-align: center;
    clear: both;
    padding-bottom: 26px;
}
.socials a {
    color: #fff;
    position: relative;
    background: transparent;
}
.socials a:not(:first-child), .socials a:not(:last-child) {
    margin-left: 3em;
}
.socials a:hover {
    /*background: #34495e;*/
    color: black;
    /*top: -2px;*/
}



.ganitzsh {
    text-decoration: underline;
    color: white;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition:    all 0.2s ease-in-out;
    -ms-transition:     all 0.2s ease-in-out;
    -o-transition:      all 0.2s ease-in-out;
    transition:         all 0.2s ease-in-out;
}
.ganitzsh:hover {
    color:#000;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition:    all 0.2s ease-in-out;
    -ms-transition:     all 0.2s ease-in-out;
    -o-transition:      all 0.2s ease-in-out;
    transition:         all 0.2s ease-in-out;
}

.btn, .btx-xs {
    padding: 6px 12px;
    border-radius: 0px;
}
html{
  -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', sans-serif;
}
body {
    font-family: 'Open Sans', sans-serif;
}
copyrights
{
  color:  #ffffff;
  font-size: 13px;
}
.wrap {
    text-align: center;
    padding: 40px 0;
}

* ::selection
{
  background:#FFE688;
    background-color: #222;
    color: #fff;
}
* ::-moz-selection
{
  background:#FFE688;
    background-color: #222;
    color: #fff;
}
.btn-default {
  color: #fff;
  background-color: #CACACA;
  border-color: #cccccc;
}
.btn-circle-large {
  -moz-transition: all 1.5s;
  -webkit-transition: all 1.5s;
  /*border-radius: 50%;*/
    /*border-radius: 5px;*/
  border: 1px solid;
  cursor: pointer;
  display: table-cell;
  font-size: 30px;
  font-weight: normal;
  height: 60px;
  line-height: 1.428571429;
  text-align: center;
  transition: all 1.5s;
  vertical-align: middle;
  white-space: nowrap;
  width: 60px;
}
.btn-circle-medium {
  -moz-transition: all 1.5s;
  -webkit-transition: all 1.5s;
  /*border-radius: 50%;*/
    /*border-radius: 5px;*/
  border: 1px solid;
  cursor: pointer;
  display: table-cell;
  font-size: 25px;
  font-weight: normal;
  height: 50px;
  line-height: 1.428571429;
  text-align: center;
  transition: all 1.5s;
  vertical-align: middle;
  white-space: nowrap;
  width: 50px;
}
.btn-google:hover {
  color: red;
    background: white;
}
.btn-facebook:hover {
  color: #2E56BC;
    background: white;
}
.btn-twitter:hover {
  color: #2EBBE1;
    background: white;
}


/* Main Navbar */

.navbar {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 1px solid transparent;
}

.navbar-inverse {
  border-color: none;
}
html {
  position: relative;
  min-height: 100%;
}
.footer {
  position: absolute;
  width: 100%;
  overflow:hidden;
}

.copyrights {
  border: none;
}

textarea {
  resize: vertical;
}

.navbar-inverse .navbar-toggle {
  border-color: transparent;
}