body{
  background:rgb(100, 100, 100);
  font-family:'Open Sans',sans-serif;
}

a:hover {
  text-decoration: none;
  color: white;
}

.buttonreturn {
  display:block;
  margin-top: 20px;
  text-align:center;
  cursor:pointer;
  width:100%;
  padding:4%;
  font-size:100%;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

#login{
  width:400px;
  margin:0 auto;
  margin-top:8px;
  margin-bottom:2%;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
  max-width: 100%;
}

#triangledown{
  width:0;
  border-top:12px solid transparent;
  border-right:12px solid transparent;
  border-bottom:12px solid rgba(223, 38, 38, 0.84);;
  border-left:12px solid transparent;
  margin:0 auto;
}

#login h1{
  padding:20px 0;
  font-size:140%;
  font-weight:300;
  text-align:center;
  color:#fff;
}

form{
  background:#f0f0f0;
  padding:6% 4%;
}

input[type="text"],input[type="password"]{
  width:100%;
  background:#fff;
  margin-bottom:4%;
  border:1px solid #ccc;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color:#555;
}

input[type="submit"]{
  width:100%;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}
