.color1 {
    color: #ff4a4c;
}
.backgroundcolor1 {
    background-color: #ff4a4c;
}
.color2 {
    color: rgba(223, 38, 38, 0.84);
}
.transparentcolor {
    background-color: rgba(223, 38, 38, 0.84);
}
.buttoncolor {
    background-color: rgba(223, 38, 38, 0.84);
    border: 1px solid rgba(223, 38, 38, 0.84);
    color: #ffffff;
}
.buttoncolor:hover {
    color: rgba(223, 38, 38, 0.84);
    background-color: #fff;
    border-color: rgba(223, 38, 38, 0.84);
}
.textcolor {
    color: #2f2f2f;
}
.mailcolor {
    color:#3c3c3c;
    background-color: #ECECEC;
    border: 1px solid rgba(0,0,0,0);
}
.mailcolor:focus {
    background: #fff;
    border: 1px solid #d2caca;
    color: #222;
}

.page-container {
    padding-top: 13px;
    padding-bottom: 13px;
}

.socials {
    text-align: center;
    clear: both;
}
.socials a {
    color: #fff;
    position: relative;
    background: transparent;
}
.socials a:not(:first-child) {
    margin-left: 3em;
}
.socials a:hover {
    color: black;
}
.twitter-color {
    background-color: #4099FF;
    border: 1px solid #4099FF;
    color: #ffffff;
}
.twitter-color:hover {
    background-color: #fff;
    border: 1px solid #4099FF;
    color: #4099FF;
}
.facebook-color {
    background-color: #3b5998;
    border: 1px solid #3b5998;
    color: #ffffff;
}
.facebook-color:hover {
    background-color: #fff;
    border: 1px solid #3b5998;
    color: #3b5998;
}
.google-plus-color {
    background-color: #d34836;
    border: 1px solid #d34836;
    color: #ffffff;
}
.google-plus-color:hover {
    background-color: #fff;
    border: 1px solid #d34836;
    color: #d34836;
}

.footer-hover {
    text-decoration: underline;
    color: white;
    -webkit-transition: all 0.3s linear;
    -moz-transition:    all 0.3s linear;
    -ms-transition:     all 0.3s linear;
    -o-transition:      all 0.3s linear;
    transition:         all 0.3s linear;
}
.footer-hover:hover {
    color: #000000;
    -webkit-transition: all 0.3s linear;
    -moz-transition:    all 0.3s linear;
    -ms-transition:     all 0.3s linear;
    -o-transition:      all 0.3s linear;
    transition:         all 0.3s linear;
}

.btn, .btx-xs {
    padding: 6px 12px;
    border-radius: 0px;
}
html{
  -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    min-height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.wrap {
    text-align: center;
    padding: 40px 0;
}

* ::selection {
    background-color: #222;
    color: #fff;
}
* ::-moz-selection {
    background-color: #222;
    color: #fff;
}
.btn-default {
  color: #fff;
  background-color: #CACACA;
  border-color: #cccccc;
}
.btn-circle-large {
  border: 1px solid;
  cursor: pointer;
  display: table-cell;
  font-size: 30px;
  font-weight: normal;
  height: 60px;
  line-height: 1.428571429;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  width: 60px;
}
.footer {
  position: absolute;
  width: 100%;
  overflow:hidden;
    color: #ffffff;
}
textarea {
  resize: vertical;
}